{% extends 'base.html' %}

{% block content %}

{# Set the page title #}
<script>
    document.getElementById('page_title').textContent = "Bag {{ bag.id }}";
</script>

{# Page container #}
<div class="container-fluid mt-4">

    {# bag action buttons #}
    <div class="d-flex gap-2 w-100 mb-3">
        <a href="{{ url_for('list_bags', id=bag.id) }}" type="button" class="btn btn-dark flex-fill bi bi-card-list"><i
                class="bi bi-arrow-left"></i></a>
        <a href="{{ url_for('view_batch', id=bag.batch.id, next=request.path) }}"
            class="btn btn-dark flex-fill"><span><i style="position: relative; top: -4px;">{{ freezedryer_icon() }}</i><i class="bi bi-arrow-left" style="margin-left: -15px;"></i></span></a>
        <a href="{{ url_for('edit_bag', id=bag.id, next=request.path) }}"
            class="btn btn-dark flex-fill bi bi-pencil-square"><span class="ms-3"></span></a>
        <a href="{{ url_for('print_label', id=bag.id) }}" class="btn btn-dark flex-fill bi bi-printer"
            target="_blank"></a>
        {% if not bag.consumed_date %}
        <button id="button_consume" type="submit" class="btn btn-dark flex-fill bi bi-bag-x"></button>
        {% endif %}
        <form id="form_consume" method="POST" action="{{ url_for('consume_bag', id=bag.id, next=request.path) }}">
        </form>
    </div>

    {# Bags Card #}
    <div class="card border border-success mb-3">
        <div class="card-header bg-success text-white mb-3">
            <div class="text-center">Bag {{ bag.id }}</div>
        </div>
        <div class="card-body">
            <p class="card-text">
                Batch: {{ '%08d' % bag.batch.id }} {{ bag.batch.start_date.strftime('%Y-%m-%d') }}<br>
                Bag Created: {{ bag.created_date.strftime('%Y-%m-%d') }}<br>
                Location: {{ bag.location }}<br>
                {% if bag.consumed_date %}
                Consumed: {{ bag.consumed_date.strftime('%Y-%m-%d') }}<br>
                {% endif %}
                Contents: {{ bag.contents|highlight(search_query) }}<br>
                Weight: {{ bag.weight }} grams<br>
                Water Removed: {{ bag.water_needed|round(1) }} ml<br>
                {% if bag.notes %}
                Notes: {{ bag.notes|highlight(search_query) }}<br>
                {% endif %}
            </p>
        </div>
    </div>
    {# End of Bag Card #}

</div>
<script>
    document.getElementById('button_consume').addEventListener('click', function () {
        document.getElementById('form_consume').submit();
    });
</script>
{% endblock %}